.card{
   cursor: pointer;
   border: none;
   border-radius: 10px;
   padding: 1em;
   background-color: #303030;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   text-align: center;
   max-width: 300px;
   box-shadow: 1px 2px 4px #ffffff1d, -1px -2px 4px #ffffff1d;
}

.card:hover {
   transition: .3s;
   background-color: #30303097;
   box-shadow: -1px -2px 4px #992cff, 1px 2px 4px #6dc6fe;
}

.nome {
   font-size: 1.5em;
   margin: .5em 0;
   font-weight: bold;
}

.texto__secundario {
   font-size: 1em;
   width: 80%;
   margin: .5em 1em;
   color: #c8c7c7;
}
