.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #1f1f1f;
}


.personagens__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5em;
   margin: 2em 0;
}

.botaoPages {
   cursor: pointer;
   background: transparent;
   border: none;
   color: white;
   margin: 1em 1em;
}